<h2 class="mt-5">Realice su denuncia</h2>
	<%= render 'form', post: @post %>
<% if current_user && current_user.admin %>
	<div class="text-center mt-3">
		<%= link_to 'Mostrar denuncias', posts_path %>
	</div>
<% end %>