	<div class="alert alert-warning" role="alert">
		Mi Zona es un proyecto creado por cuatro desarrolladores con tiempo muy limitado.
    </div>	
	<img src="./assets/mizona.gif" class="img-fluid">
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
	<p>Puede registrarse utilizando una red social</p>


