
<div class="alert alert-primary alert-dismissible fade show" role="alert">
	<i class="fab fa-connectdevelop" style="color:#004085;">&nbsp;</i> 
	Mi Zona es un proyecto creado por tres desarrolladores y un diseñador con tiempo muy limitado.
	<a href="https://github.com/TalentoBogotaFedesoft/UAC-104-grupo-2" target="_blank" class="alert-link">Conocer más en <i class="fab fa-github" style="color:#004085;">&nbsp;</i></a>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="text-center">
	<img src="./assets/mizona.gif" class="img-fluid">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pretium mollis sapien, id efficitur lorem. Integer viverra dignissim.</p>
	<p>Puede registrarse utilizando una red social.</p>
</div>