
<h2 class="mt-5">Su mensaje se envió correctamente.</h2>

	<% flash.each do |key, value| %>
	    <div class="alert alert-success">
	      	<a href="#" data-dismiss="alert">
	      		<i class="fas fa-check-circle" style="color:#155724;">&nbsp;</i></a>
	        		<%= value %>
	    </div>
	<% end %>

		<br>
		<%= link_to 'Enviar un nuevo mensaje', new_contact_path, :class => 'btn btn-secondary' %>
